.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000000; /* Asegúrate de que el modal esté en la capa superior */

  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .closeButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }
  
  .notificationOptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .notificationItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
  }
  
  .switchInput {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 28px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  .switchInput:checked + .slider {
    background-color: #2196F3;
  }
  
  .switchInput:checked + .slider:before {
    transform: translateX(22px);
  }
  
  .sectionTitle {
    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }