@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --letraCartas: #0C1E33;
}

.profesorDashboard {
    display: flex;
    margin-left: 265px;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
}

.mainContent {
    flex-grow: 1;
    padding: 20px;
    background-color: #f5f5f5;
}

.dashboardContent {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.userDetails {
    display: flex;
    flex-direction: column;
}

.userProfileTitle {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--letraCartas);
}

.userProfileDetail {
    margin: 5px 0;
    font-size: 16px;
}

.userProfileDetailLabel {
    font-weight: bold;
}

.asignaturasSection {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    font-size: 16px;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
}
